.recuperar-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.24);
    z-index: 100;
  }
  
  .recuperar-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 25%;
    min-width: 400px;
  }
  
  .recuperar-container h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: medium;
  }
  
  .mensaje-recuperacion {
    color: #007BFF;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
  }
  
  .btn-recuperar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
  }
  
  .btn-cancelar-recuperar {
    width: 30%;
    padding: 10px;
    background-color: #9b9b9b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
  }
  
  .btn-cancelar-recuperar:hover {
    background-color: #7e7e7e;
  }
  
  .recuperar-button {
    width: 60%;
    padding: 10px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .recuperar-button:hover {
    background-color: #e64a19;
  }
  